.button {
  background: #3CAA4F;
  height: 50px;
  display: unset;
  padding: 0px 20px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=component.css.map */
