body {
  background: #fff;
  margin: 0 auto;
  font-family: "Maven Pro";
}

.section {
  width: 100%;
  min-height: 1024px;
  margin-bottom: 20px;
}

.section-one {
  background: url("../img/slide-1.png");
  background-size: cover;
  background-position-y: bottom;
}
.section-one .navbar {
  display: flex;
  height: 128px;
  border-bottom: 3px solid #3CAA4F;
  width: 1249px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-weight: 500;
}
.section-one .navbar .navbar-content {
  display: flex;
  flex-direction: row;
}
.section-one .navbar .navbar-content .left-bar {
  margin-left: 100px;
}
.section-one .navbar .navbar-content .right-bar {
  margin: 0 100px 0 auto;
  order: 2;
  height: 100%;
  justify-content: center;
  display: flex;
}
.section-one .navbar .navbar-content img {
  width: 194px;
  height: 43px;
}
.section-one .navbar .navbar-content .navbar-item {
  text-decoration: none;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}
.section-one .navbar .navbar-content .active {
  background: #3CAA4F;
  color: #fff;
}
.section-one .jumbotron {
  width: 1249px;
  background: rgba(0, 0, 0, 0.5);
  height: 239px;
  border-radius: 10px;
  margin: 145px auto 0 auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section-one .jumbotron .jumbotron-content {
  display: flex;
  justify-content: center;
}
.section-one .jumbotron .jumbotron-content .title {
  font-size: 40px;
  font-weight: bold;
  margin-left: 50px;
}
.section-one .jumbotron .jumbotron-content button {
  margin: auto 50px auto auto;
  font-weight: 700;
  font-size: 24px;
}

.section-two {
  margin: 0 auto;
  text-align: center;
  min-height: 600px !important;
}
.section-two .section-content {
  padding-left: 100px;
  text-align: left;
  margin: 0 auto;
  width: 1249px;
  position: relative;
}
.section-two .section-content .left .title {
  color: #3CAA4F;
  font-size: 42px;
  font-weight: 100;
  margin-top: 180px;
}
.section-two .section-content .left .subtitle {
  margin-top: 60px;
  font-size: 24px;
}
.section-two .section-content img {
  height: 400px;
  position: absolute;
  z-index: 100;
  right: 200px;
  top: 0;
}
.section-two .button {
  margin: 50px auto;
  position: relative;
  width: 1249px;
  font-size: 42px;
  font-weight: 500px;
  height: 120px;
  border-radius: 20px;
  text-align: left;
  padding-left: 50px;
}

.section-three {
  margin: 30px auto;
  margin-bottom: 80px;
}
.section-three .section-content {
  width: 1249px;
  margin: 0 auto;
  text-align: center;
}
.section-three .section-content .title {
  margin: 0 auto;
  color: #3CAA4F;
  font-size: 42px;
  font-weight: 500;
}
.section-three .section-content img {
  width: 100%;
}
.section-three .section-content .pricing-tab {
  margin-top: 117px;
  display: flex;
}
.section-three .section-content .pricing-tab .pricing-item {
  width: 50%;
  background: #f9f9f9;
  min-height: 93px;
  margin: 10px;
  flex-grow: 1;
  box-shadow: 4px 12px 24px 2px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  padding-bottom: 67px;
}
.section-three .section-content .pricing-tab .pricing-item .pricing-image {
  height: 113px;
  display: block;
  margin: 67px auto 46px auto;
  width: unset;
}
.section-three .section-content .pricing-tab .pricing-item .item-title {
  color: #3CAA4F;
  font-weight: 700;
  font-size: 28px;
}
.section-three .section-content .pricing-tab .pricing-item .listing-features {
  margin: 76px auto;
  width: 70%;
}
.section-three .section-content .pricing-tab .pricing-item .listing-features .toggle-title {
  font-size: 24px;
  display: block;
  margin: 30px;
  cursor: pointer;
}
.section-three .section-content .pricing-tab .pricing-item .listing-features .toggle-title i {
  margin-left: 10px;
}
.section-three .section-content .pricing-tab .pricing-item .listing-features .toggle-content {
  font-size: 20px;
  display: block;
  color: rgba(0, 0, 0, 0);
  line-height: 0px;
}
.section-three .section-content .pricing-tab .pricing-item .listing-features .toggle-content-active {
  font-size: 20px;
  display: block;
  color: #3CAA4F;
}

/*# sourceMappingURL=index.css.map */
