@import ./variable

body
    background: #fff
    margin: 0 auto
    font-family: 'Maven Pro'
.section
    width: 100%
    min-height: 1024px
    margin-bottom: 20px
    // min-height: 100vh
.section-one
    background: url("../img/slide-1.png")
    background-size: cover
    background-position-y: bottom
    .navbar
        display: flex
        height: 128px
        border-bottom: 3px solid $primary
        width: $desktopw
        margin: 0 auto
        flex-direction: column
        justify-content: center
        font-size: 18px
        font-weight: 500
        .navbar-content
            display: flex
            flex-direction: row
            .left-bar
                margin-left: 100px
            .right-bar
                margin: 0 100px 0 auto
                order: 2
                height: 100%
                justify-content: center
                display: flex
            img
                width: 194px
                height: 43px
            .navbar-item
                text-decoration: none
                color: #000
                padding: 10px
                border-radius: 10px
                margin: 0 10px
            .active
                background: $primary
                color: #fff
    .jumbotron
        width: $desktopw
        background: rgba(0,0,0,0.5)
        height: 239px
        border-radius: 10px
        margin: 145px auto 0 auto
        color: #fff
        display: flex
        flex-direction: column
        justify-content: center
        .jumbotron-content
            display: flex
            justify-content: center
            .title
                font-size: 40px
                font-weight: bold
                margin-left: 50px
            button
                margin: auto 50px auto auto
                font-weight: 700
                font-size: 24px

.section-two
    margin: 0 auto
    text-align: center
    min-height: 600px !important
    .section-content
        padding-left: 100px
        text-align: left
        margin: 0 auto
        width: $desktopw
        position: relative
        .left
            .title
                color: $primary
                font-size: 42px
                font-weight: 100
                margin-top: 180px
            .subtitle
                margin-top: 60px
                font-size: 24px
        img
            height: 400px
            position: absolute
            z-index: 100
            right: 200px
            top: 0

    .button
        margin: 50px auto
        position: relative
        width: $desktopw
        font-size: 42px
        font-weight: 500px
        height: 120px
        border-radius: 20px
        text-align: left
        padding-left: 50px

.section-three
    margin: 30px auto
    margin-bottom: 80px
    .section-content
        width: $desktopw
        margin: 0 auto
        text-align: center
        .title
            margin: 0 auto
            color: $primary
            font-size: 42px
            font-weight: 500
        img
            width: 100%
        .pricing-tab
            margin-top: 117px
            display: flex
            .pricing-item
                width: 50%
                background: #f9f9f9
                min-height: 93px
                margin: 10px
                flex-grow: 1
                box-shadow: 4px 12px 24px 2px rgba(0, 0, 0, 0.1)
                border-radius: 18px
                padding-bottom: 67px
                .pricing-image
                    height: 113px
                    display: block
                    margin: 67px auto 46px auto
                    width: unset
                .item-title
                    color: $primary
                    font-weight: 700
                    font-size: 28px
                .listing-features
                    margin: 76px auto
                    width: 70%
                    .toggle-title
                        font-size: 24px
                        display: block
                        margin: 30px
                        cursor: pointer
                        i
                            margin-left: 10px
                    .toggle-content
                        font-size: 20px
                        display: block
                        color: rgba(0,0,0,0)
                        line-height: 0px
                    .toggle-content-active
                        font-size: 20px
                        display: block
                        color: $primary


                